<div class="side_bar_hedder">

 <div class="side_username"> 
   <a href="#">tom</a> 
 </div>

 <div class="chat_button">
  <a href="#"> チャットを作成する </a>
 </div>
</div>

<div class="rooms">

 <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">room-name
    <div class="">
      <a href="#">techroom2</a>
    </div>
  </div>

</div>